$color-primary-light: #5524fb;
$color-secondary-light: #1fb8f9;
$color-secondary-dark: #37d1b6;
$color-tertiary-light: #d0d52c;


$color-primary-white: #fff;
$color-primary-white-2: #f1f1f1;
$color-primary-black: #000;
$color-primary-black-2: #333;
$color-primary-black-3: #999;
$default-font-size: 1.6rem;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//Dimensions
$dot-size: .5rem;
$dot-space: 3.2rem;

//shadow
$shadow-dark: 0 1.4rem 2rem rgba($color-primary-black, .6);
